<% if @pig %>
  <%= image_tag "#{@pig.name}-#{@pig.level}-default.png", id: 'pig-image' %>
<% else %>
  no pig
<% end %>

<div id="audios">
  <%= audio_tag("booo.mp3", id: "booo-sound") %>
  <%= audio_tag("teere.mp3", id: "teere-sound") %>
</div>
